# Compiler files
SubscriptionModule/cache/
SubscriptionModule/out/
SubscriptionModule/broadcast

# Docs
SubscriptionModule/docs/

# Dotenv file
SubscriptionModule/.env
SubscriptionModule/node_modules

node_modules